$clr-green: #00b159;
$clr-blue: #325D79;
$clr-light-blue: #a3bed7;
$clr-orange: #ffc425;
$clr-purple: #3d2352;

$clr-white: #f5f5f5;
$clr-gray: #817f85;
$clr-black: #1e1f26;

$primary: $clr-green;
$secondary: $clr-blue;

$mobile-breakpoint: 719px;
