@import "variables";

.app {
  padding: 20px;
  &-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    color: $clr-white;
    max-width: 900px;
    margin: 0 auto 60px;
  }
  &-name {
    font-weight: 700;
    margin: 0;
  }
}

.content {
  margin: 0 auto;
  max-width: 900px;
}

.cities-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.loader {
  padding-top: 20px;
  text-align: center;
  font-size: 2em;
  color: $clr-white;
}

@media screen and (max-width: $mobile-breakpoint) {
  .app {
    &-header {
      flex-direction: column;
      height: auto;
    }
    &-name {
      margin-bottom: 20px;
    }
  }

  .cities-container {
    margin-left: 0;
    margin-right: 0;
  }
}
