@import "variables";

.city {
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: $clr-white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  flex: 0 1 100%;
  margin-bottom: 20px;
  overflow: hidden;
  height: 100%;
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1), max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  &.opened {
    max-height: 100%;
  }

  &.closed {
    max-height: 46px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    color: $clr-purple;
    cursor: pointer;
    padding: 15px 20px;
  }
}

.description {
  &-icon {
    transition: transform .5s ease-in-out;

    &.up {
      transform: rotate(180deg);
    }
  }

  &-container {
    padding: 0 20px 15px;
    line-height: 1.5em;
    overflow: hidden;
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .city {
    flex-basis: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
