@import "variables";

.search {
  &-container {
    margin-left: 15px;
    position: relative;
  }
  &-input {
    background-color: $clr-white;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 10px 25px 10px 15px;
    line-height: 21px;
    &:focus {
      outline: 0;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }

  &-clear {
    position: absolute;
    top: 0;
    right: 5px;
    color: rgba($clr-black, 0.3);
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color .3s ease-in-out;

    &:hover {
      color: $clr-black;
    }
  }
}

.autocomplete {
  &-options {
    background-color: $clr-white;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 45px;
    padding: 10px 0;
  }
  &-option {
    color: $clr-black;
    padding: 5px 15px;
    line-height: 1.25em;
    cursor: pointer;
    font-weight: 700;

    &:hover {
      background-color: rgba($clr-light-blue, .3);
    }
  }
}

.option {
  &-active {
    color: $clr-purple;
    background-color: rgba($clr-light-blue, .5);
    &:hover {
      color: $clr-black;
    }
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .search {
    &-container {
      margin-left: 0;
      width: 100%;
    }
    &-input {
      width: 100%;
    }
  }

  .autocomplete-option {
    &:hover {
      background-color: inherit;
    }
  }

  .option {
    &-active {
      &:hover {
        color: $clr-black;
      }
    }
  }
}
